<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whatsapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/whatsapp2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".User_Profile_Screen"></activity>
        <activity android:name=".Setting_Menu_Items"></activity>
        <activity android:name=".Message_Screen" />
        <activity android:name=".Welcome.Welcome_Splach_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Welcome.Welcome_to_Whatsapp_Screen" />
        <activity android:name=".User_Login_Screen" />
        <activity android:name=".Register_Screen" />
        <activity android:name=".Tabbed_Screen.Tabbed_Screen" />
    </application>

</manifest>